__pycache__/
*.pyc
*.egg-info/
build/
dist/
.env
.hf_cache/
data_index/
output/
pipeline/
eval_resources/eval_results_*.json
eval_resources/eval_report_*.html
eval_resources/debug_logs/
eval_resources/gradio_flagged/
